@font-face {
    font-family: "Norse";
    src:
        url("fonts/transfonter.org-20260324-164633/Norse-Bold.woff2") format("woff2"),
        url("fonts/transfonter.org-20260324-164633/Norse-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    --theme-color: rgb(9, 110, 9);
    --invalid: red;
    --light-text-color: white;
    --light-gray: rgb(207, 207, 207);
    box-sizing: border-box;
    --hover-n-focus: rgb(145, 196, 219);
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(207, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
}

body div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

body>div>div {
    width: 100%;
    padding-left: 15px;
    padding-right: 30%;
}

form {
    display: flex;
    flex-direction: row;
}

header {
    background-color: var(--theme-color);
    display: flex;
    padding-top: 30vh;
    width: 40vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

header>h1 {
    text-align: center;
    color: var(--light-text-color);
    opacity: 0.8;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    font-family: 'Norse', serif;
    font-weight: bold;
    font-size: 8vh;
}

header>p {
    text-align: center;
    color: var(--light-text-color);
    padding-bottom: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

input {
    min-width: 20vw;
    border-style: solid;
    border-color: var(--optional-border-color, var(--light-gray));
    border-radius: 5px;
}

input:hover {
    --optional-border-color: var(--hover-n-focus);
}

input:focus {
    --optional-border-color: var(--hover-n-focus);
}

input:invalid {
    --optional-border-color: var(--invalid);
}

label {
    width: fit-content;
}

form div {
    width: fit-content;
}

div[class="form-container"] {
    --background-color: white;
    background-color: var(--background-color);
    padding-bottom: 15px;
    box-shadow: 0px 5px 3px gray;
}

body div div form div {
    width: fit-content;
}

div[class="submit-panel"] {
    padding: 15px;
}

button {
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--theme-color);
    color: var(--light-text-color, white);
    box-shadow: 2px 5px 3px gray;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--theme-color);
}

header>h1>img {
    height: 1em;
    width: auto;
}

label {
    font-size: 0.7em;
}